.Weather {
  font-family: "Libre Franklin", sans-serif;
  border: 1px solid #e6e3e3;
  padding: 15px;
  border-radius: 5px;
  color: rgb(71, 67, 67);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.Weather li {
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  line-height: 2;
  top: -25px;
}

.btn-primary {
  background-color: #8d77a7 !important;
  border: #8d77a7 !important;
}
